<div class='container'>
  <form name='signinForm' novalidate ng-submit='signin(signinForm.$valid)' style='padding-top: 30px;'>
    <div class='form-group' ng-class='{ "has-error": signinForm.mobileNo.$dirty && signinForm.mobileNo.$invalid }'>
      <label class='control-label' for='mobileNo'>
        <span class='text-danger'>*</span> 手机号码 : 
      </label>
      <input type='text' class='form-control' id='mobileNo' name='mobileNo' ng-model='user.mobileNo' maxlength='11' required fv-mobile-no fv-existed-mobile-no />
      <div class='help-block' ng-show='signinForm.mobileNo.$dirty && signinForm.mobileNo.$invalid'>
        <p ng-show='signinForm.mobileNo.$error.required'>请填写手机号码</p>
        <p ng-show='!signinForm.mobileNo.$error.required && signinForm.mobileNo.$error.fvMobileNo'>请填写有效的手机号码</p>
        <p ng-show='!signinForm.mobileNo.$error.required && !signinForm.mobileNo.$error.fvMobileNo && signinForm.mobileNo.$error.fvExistedMobileNo'>该手机号码不存在</p>
      </div>
    </div>
    <div class='form-group' ng-class='{ "has-error": signinForm.signinPwd.$dirty && signinForm.signinPwd.$invalid }'>
      <label class='control-label' for='signinPwd'>
        <span class='text-danger'>*</span> 登录密码 : 
      </label>
      <input type='password' class='form-control' id='signinPwd' name='signinPwd' ng-model='user.signinPwd' maxlength='16' required fv-signin-pwd />
      <div class='help-block' ng-show='signinForm.signinPwd.$dirty && signinForm.signinPwd.$invalid'>
        <p ng-show='signinForm.signinPwd.$error.required'>请填写登录密码</p>
        <p ng-show='!signinForm.signinPwd.$error.required && signinForm.signinPwd.$error.fvSigninPwd'>登录密码长度为6~16个字符</p>
      </div>
    </div>
    <div class='form-group'>
      <button type='submit' class='btn btn-success' ng-disabled='signinForm.$invalid'>登录</button>
      <a href='#/signup' class='btn btn-default' data-toggle='tooltip' title='没有账号？去注册一个呗。 ^_^!'>注册</a>
    </div>
  </form>
</div>
<script type="text/javascript">
$('[data-toggle="tooltip"]').tooltip();
</script>
